.payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.payment-form {
    padding-top: 10px;
    width: 50%;
}

.payment-form > input, .smaller-input > input {
    border: none;
    display: block;
    width: 100%;
    font-family: inherit;
    font-weight: bolder;
    font-size: medium;
    padding-top: 2%;
}

.smaller-input {
    display: flex;
}